<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <variable name="PATTERN" value="%d{HH:mm:ss} [%level] %thread %logger - %msg%n" />
    <variable name="PATTERN_REQUEST" value="%d{HH:mm:ss} [%level] %thread %logger - %msg - req.id=%X{request.id} req.method=%X{request.method}%n" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ua.unsober.backend.common.filers.ExcludeRequestLogsFilter"/>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ua.unsober.backend.common.logging.ColorLayout">
                <pattern>${PATTERN}</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="CONSOLE_REQUEST" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ua.unsober.backend.common.filers.IncludeRequestLogsFilter"/>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ua.unsober.backend.common.logging.ColorLayout">
                <pattern>${PATTERN_REQUEST}</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="FILE" class="ua.unsober.backend.common.logging.CustomFileAppender">
        <filter class="ua.unsober.backend.common.filers.ExcludeRequestLogsFilter"/>
        <layout class="ua.unsober.backend.common.logging.MarkerLayout">
            <pattern>${PATTERN}</pattern>
        </layout>
    </appender>

    <appender name="FILE_REQUEST" class="ua.unsober.backend.common.logging.CustomFileAppender">
        <filter class="ua.unsober.backend.common.filers.IncludeRequestLogsFilter"/>
        <layout class="ua.unsober.backend.common.logging.MarkerLayout">
            <pattern>${PATTERN_REQUEST}</pattern>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="CONSOLE_REQUEST"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="FILE_REQUEST"/>
    </root>

</configuration>
